{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
    <br />
<team>
    Bruno Silva<br /><strong>NMEC:</strong> 60503 <strong>Email:</strong> brunos@ua.pt<br />
    Daniela Lopes<br /><strong>NMEC:</strong> 85123 <strong>Email:</strong> danielasplopes@ua.pt<br />
    Miguel Lopes<br /><strong>NMEC:</strong> 72385 <strong>Email:</strong> m.lopes@ua.pt<br />
    Ricardo Pombeiro<br /><strong>NMEC:</strong> 71718 <strong>Email:</strong> bacalhau@ua.pt<br />
</team>
<br />
<teacher>
    <strong>Teacher:</strong> Helder Zagalo<br />
    <strong>Email:</strong> htz@ua.pt</a>
</teacher>

{% endblock %}
